# Multiple Linear Regression

This exercise set the framework for linear regression analysis. We use the Boston dataset to this end.

Libraries we need are imported first

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
from matplotlib.pyplot import subplots
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor as VIF
from statsmodels.stats.anova import anova_lm
from ISLP import load_data
from ISLP.models import (ModelSpec as MS, summarize, poly)

Data used in this exercise is stored in the DATA folder

In [7]:
data_path = '../../DATA/boston.csv'

The dataframe is created using the .read_csv function of Pandas

In [9]:
boston = pd.read_csv(data_path)

The original CSV file is structured as a dataframe with the corresponding categories

In [11]:
boston

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,7.88,11.9

We first create the model matrix by hand

In [21]:
X = MS(['lstat','age']).fit_transform(boston)
y = boston['medv']
model1 = sm.OLS(y,X)
results1 = model1.fit()
summarize(results1)

              coef  std err       t  P>|t|
intercept  33.2228    0.731  45.458  0.000
lstat      -1.0321    0.048 -21.416  0.000
age         0.0345    0.012   2.826  0.005

In [23]:
terms = boston.columns.drop('medv')
terms

Index(['Unnamed: 0', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis',
       'rad', 'tax', 'ptratio', 'lstat'],
      dtype='object')

In [27]:
X = MS(terms).fit_transform(boston)
model = sm.OLS(y,X)
results = model.fit()
summarize(results)

               coef  std err       t  P>|t|
intercept   41.6430    4.934   8.439  0.000
Unnamed: 0  -0.0024    0.002  -1.154  0.249
crim        -0.1222    0.033  -3.703  0.000
zn           0.0485    0.014   3.480  0.001
indus        0.0128    0.062   0.207  0.836
chas         2.8585    0.870   3.286  0.001
nox        -18.5465    3.854  -4.812  0.000
rm           3.6856    0.421   8.759  0.000
age          0.0011    0.014   0.081  0.935
dis         -1.5079    0.202  -7.461  0.000
rad          0.3075    0.069   4.476  0.000
tax         -0.0120    0.004  -3.112  0.002
ptratio     -0.9329    0.132  -7.055  0.000
lstat       -0.5535    0.051 -10.926  0.000

In [29]:
minus_age = boston.columns.drop(['medv','age'])
Xma = MS(minus_age).fit_transform(boston)
model1 = sm.OLS(y, Xma)
summarize(model1.fit())

               coef  std err       t  P>|t|
intercept   41.6160    4.918   8.461  0.000
Unnamed: 0  -0.0025    0.002  -1.184  0.237
crim        -0.1222    0.033  -3.707  0.000
zn           0.0484    0.014   3.494  0.001
indus        0.0128    0.062   0.207  0.836
chas         2.8625    0.868   3.299  0.001
nox        -18.4633    3.712  -4.974  0.000
rm           3.6927    0.411   8.981  0.000
dis         -1.5128    0.193  -7.856  0.000
rad          0.3072    0.069   4.481  0.000
tax         -0.0120    0.004  -3.115  0.002
ptratio     -0.9320    0.132  -7.081  0.000
lstat       -0.5522    0.048 -11.547  0.000