# Qualitative Predictors

This exercise set the framework for linear regression analysis. We use the Boston dataset to this end.

Libraries we need are imported first

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
from matplotlib.pyplot import subplots
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor as VIF
from statsmodels.stats.anova import anova_lm
from ISLP import load_data
from ISLP.models import (ModelSpec as MS, summarize, poly)

Data used in this exercise is stored in the DATA folder

In [6]:
data_path = '../../DATA/carseats.csv'

The dataframe is created using the .read_csv function of Pandas

In [46]:
Carseats = pd.read_csv(data_path)

The original CSV file is structured as a dataframe with the corresponding categories

In [49]:
Carseats

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [51]:
Carseats.columns

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

We first create the model matrix by hand

In [58]:
allvars = list(Carseats.columns.drop('Sales'))
y = Carseats['Sales']
# final = allvars + [('Income', 'Advertising'),
#                    ('Price', 'Age')]
final = allvars
X = MS(final).fit_transform(Carseats)
model = sm.OLS(y, X.astype(float))
summarize(model.fit())

ValueError: could not convert string to float: 'Bad'

In [60]:
X = MS(final)

In [40]:
X

,intercept,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Income:Advertising,Price:Age
0,1.0,138,73,11,276,120,Bad,42,17,Yes,Yes,803.0,5040.0
1,1.0,111,48,16,260,83,Good,65,10,Yes,Yes,768.0,5395.0
2,1.0,113,35,10,269,80,Medium,59,12,Yes,Yes,350.0,4720.0
3,1.0,117,100,4,466,97,Medium,55,14,Yes,Yes,400.0,5335.0
4,1.0,141,64,3,340,128,Bad,38,13,Yes,No,192.0,4864.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1.0,138,108,17,203,128,Good,33,14,Yes,Yes,1836.0,4224.0
396,1.0,139,23,3,37,120,Medium,55,11,No,Yes,69.0,6600.0
397,1.0,162,26,12,368,159,Medium,40,18,Yes,Yes,312.0,6360.0
398,1.0,100,79,7,284,95,Bad,50,12,Yes,Yes,553.0,4750.0
399,1.0,134,37,0,27,120,Good,49,16,Yes,Yes,0.0,5880.0